Package: ros-jade-mavlink
Version: 2016.03.01-0trusty
Architecture: amd64
Maintainer: Vladimir Ermakov <vooon341@gmail.com>
Installed-Size: 23573
Depends: libc6 (>= 2.11), python-dev, ros-jade-catkin
Section: misc
Priority: extra
Homepage: http://qgroundcontrol.org/mavlink/
Description: MAVLink message marshaling library. This package provides C-headers and pymavlink library.
